<footer>
  <div class="footer">
    <a class="footer__credits" href="https://www.flaticon.com/free-icons/to-do-list" title="to do list icons">
      To do list icons created by Freepik - Flaticon
    </a>
    <p class="footer__rights">PollMall <%= (new Date()).getFullYear() %>. All rights reserved.</p>
  </div>
</footer>
