<div class="form-wrapper">
  <h2 class="form-wrapper__title">Add your new todo</h2>
  <form class="form" method="post" action="#">
    <input class="form__input" id="title" name="title" placeholder="Insert todo title" />
    <textarea class="form__input form__input--large" id="description" name="description" placeholder="Insert todo description"></textarea>
    <button class="form__submit" type="submit">Add</button>
  </form>
</div>