<a class="card-link" href="/edit/<%= id %> ">
  <div class="card">
    <h4 class="card__title""><%= title %> </h4>
    <div class="card__description"><%- description.length > 90 ? `${description.substring(0, 90)}...` : description %></div>
  </div>
</a>
