<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo | Add</title>
    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include("./partials/header.ejs"); %>

    <main class="content">
      <%- include("./partials/form", { id: null, title: "", description: "", action: "/add" }) %> 
    </main>

    <%- include("./partials/footer.ejs"); %>
  </body>
</html>
