<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>
    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include("./partials/header.ejs"); %>

    <main class="content">
      <div class="cards-wrapper">
        <% [...new Array(5)].map(() => { %>
          <%- include("./partials/todo.ejs", { title: 'title', description: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio maiores modi, aperiam reiciendis iusto blanditiis, recusandae qui quaerat cupiditate deserunt odit omnis eius aut quos nobis mollitia provident itaque dicta!' }); %>          
        <% }); %>
        <% [...new Array(6)].map(() => { %>
          <%- include("./partials/todo.ejs", { title: 'title', description: 'Lorem!' }); %>          
        <% }); %>
      </div>
    </main>

    <%- include("./partials/footer.ejs"); %>
  </body>
</html>
