<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>
    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include("./partials/header.ejs"); %>

    <main>
      <div class="content">
        <% [...new Array(11)].map(() => { %>
          <%- include("./partials/todo.ejs", { title: 'title', description: 'lorem ipsum dolot simet' }); %>
        <% }); %>
      </div>
    </main>

    <%- include("./partials/footer.ejs"); %>
  </body>
</html>
