.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.create-btn {
  align-self: center;
  padding: 20px;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid var(--neutral-black-color);
  background-color: var(--primary-color);
  box-shadow: 8px 8px var(--primary-darkest-color);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.create-btn:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
  cursor: pointer;
}

.create-btn:active {
  background-color: var(--primary-darker-color);
}
