@import url("./header.css");
@import url("./footer.css");
@import url("./todo.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

* {
  --primary-color: #74bdcb;
  --primary-light-color: #e7f2f8;
  --secondary-color: #ffa384;
  --neutral-background-color: #efe7bc;
  --neutral-white-color: #fff;
  --neutral-grey-color: #f5f5f5;
  --neutral-black-color: #000;
}

body {
  background-color: var(--neutral-background-color);
  position: relative;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px 100px;
  padding-bottom: 118px;
  height: min-content;
}
