.card-link {
  text-decoration: none;
  color: var(--neutral-black-color);
}

.card {
  width: 300px;
  height: 150px;
  background-color: var(--neutral-white-color);
  box-shadow: 10px 10px var(--secondary-color);
  padding: 10px 20px;
  position: relative;
  border: 1px solid var(--neutral-black-color);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
  cursor: pointer;
}

.card:active {
  background-color: var(--neutral-grey-color);
}

.card__title {
  font-size: 24px;
  text-align: center;
}

.card__divider {
  width: 90%;
  height: 1px;
  margin: 10px auto;
  background-color: var(--neutral-grey-dark-color);
}
